body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.loader {
  border: 4px solid rgb(214, 214, 214);
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1) , 10px 10px 10px
    rgba(0, 0, 0, 0.4) , inset -5px -5px 5px
    rgba(255, 255, 255, 0.1) , inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.loader:before {
  background: rgb(214, 214, 214);
  border: 2px solid rgb(214, 214, 214);
  border-radius: 50%;
  bottom: 25px;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2) , inset 3px 3px 5px
    rgba(0, 0, 0, 0.5);
  content: '';
  left: 25px;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 10;
}

.loader span {
  animation: animate 0.5s linear infinite;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 30%;
  filter: blur(20px);
  height: 100%;
  position: absolute;
  width: 100%;
}

@keyframes animate {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}