.big-bang-beer-logo {
  width: 360px;
  border-radius: 100px;
}

.login-form {
  width: 360px;
  height: 680px;
  background-color: white;
  padding: 50px 40px 10px 40px;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  padding: 0px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 100px #111;
}

.login-form h1 {
  border-radius: 20px;
  transition: .5s;
  text-align: center;
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, blue, green, pink, yellow, red);
  transition: .5s;
}

.focus {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.focus input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.focus span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: -5px;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.focus span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(120deg, blue, green, pink, yellow, red);
  transition: .5s;
}

.signin-btn {
  display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #476A6F);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
  transition: .5s;
}

.signin-btn:hover {
  background-position: right;
}

.signin-btn-disabled {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0.8rem;
  border: none;
	font-size: 1.2rem;
	color: rgb(196, 194, 194);
	font-family: 'Poppins', sans-serif;
  background-size: 200%;
  background-image: linear-gradient(to right, #7EB09B, #519E8A, #476A6F);
  outline: none;
  cursor: not-allowed;
}

.no-account-btn {
  margin-top: 10px;
  border-radius: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  font: 350 2.0rem Archivo;
  display: block;
  width: 60%;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: 200%;
  transition: .5s;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #476A6F);
}

.no-account-btn:hover {
  background-position: right;
}

.errorMessage {
  position: absolute;
  background: red;
  width: 64%;
  height: 50px;
  padding: 0px 40px;
  font: 350 2.0rem Archivo;
  display: block;
  border: none;
  box-shadow: 0px 10px 100px #111;
  z-index: 1;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 60px;
  animation: MoveUpDown 1.5s infinite alternate;
  transition: .5s;
}

@keyframes MoveUpDown {
0%{
  bottom: 250px;
  opacity: 0;
}
100% {
  bottom: 290px;
  opacity: 1;
}
}
