:root {
  font-size: 60%;
  --color-background: #ffd359;
  --font-1: 800 2.3rem 'Open Sans', sans-serif;
  --font-2: 500 1.5rem 'Montserrat', sans-serif;
}

html , body {
  border: 0;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

body {
  background: var(--color-background);
}

#root{
  align-items: center;
  display: flex;
  justify-content: center;
}

body , input , button , textarea, a {
  color: var(--color-text-base);
  font: var(--font-2);
}

.container {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: auto;
}

@media ( min-width : 700px ) {

  :root {
    font-size: 62.5%;
  }
}